
<% @users.each do |user| %>
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><%= user.hospital %></h5>
      <p class="card-text"><%= user.name %></p>
      <p class="card-text"><%= user.qualification %></p>
      <p class="card-text"><%= user.specification %></p>
      <p class="card-text">Ex.: <%= user.experience %>yrs</p>
      <p class="card-text"><%= user.address %></p>
      <%= link_to 'Add Appointment', new_user_appointment_path(user.id), class: 'ml-2 btn btn-secondary' %>
    </div>
  </div>
<% end %>


