
<%= link_to 'Go Back', user_path(current_user.id), class: 'btn btn-secondary m-4' %>
<div class='d-flex justify-content-center'>
  <div class = 'btn btn-danger m-4 float-center'>My Appointments</div>
</div>

<% @appointments.each do |appointment| %>
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title">Appointment: <%= appointment.query %></h5>
      <p class="card-text">Hospital Name: <%= appointment.doctor.hospital %></p>
      <p class="card-text">Doctor Name: <%= appointment.doctor.name %></p>
      <p class="card-text">Patient Na\me: <%= appointment.patient.name %></p>
      <% if appointment.comment.present? %>
        <div class="card-footer text-muted">
          <p class="card-text"><%= appointment.comment.response %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>