
<%= form_for [:user, @appointment] do |f| %>
  <div id="mynewpost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.hidden_field :doctor_id, value: params[:user_id] %>
          </div>
          <div class="field">
            <%= f.hidden_field :patient_id, value: current_user.id %>
          </div>
          <div class="field">
            <%= f.label :query %>
            <%= f.text_area :query, class:"form-control task_content"%>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>